.Circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.Panel {
    display: flex;
    flex-direction: row;
    background-color: beige;
    max-width: 50%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 2px;
    border: 2px solid black;
}

.PanelSlider {
    display: flex;
    gap: 2px;
    flex-direction: row;
    flex-grow: 2;
    justify-content: center;
}

.PanelButtons {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;  
}

.Slider {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.WindowDisplay {
    background-image: url("/window_closeup.png");
    background-color: white;
    height: 350px;
    width: 300px;
}

.Good {
   background-color: green;
   color: white;
   border: 1px solid white;
   padding-right: 5px;
   padding-left: 5px;
   border-radius: 10px;
   height: 28px;
   margin-left: 5px;
}

.Moderate {
    background-color: rgba(255, 255, 0, 0.892);
    color: black;
    border: 1px solid black;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    height: 28px;
    margin-left: 5px;
 }


.Poor {
    background-color: rgba(255, 77, 0, 0.744);
    color: white;
    border: 1px solid white;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    height: 28px;
    margin-left: 5px;
 }

 .AppControl {
    height: 500px;
    width: 367px;
    border: 15px solid black;
    margin: 25px;
    background-image: linear-gradient(#D2E7FA, #87C2FA);
 }

 .AppButton {
    background-color: #385E80;
    color: #D2E7FA;
    padding: 20px;
    border-radius: 15px;
    width: 120px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Century Gothic';
    font-size: large;
 }

 .PanelButton{
    background-color: beige;
    color: black;
    border-radius: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
 }

 .WindowDropdown {
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 20px;
 }

 .CustomButton {
    margin-top: 5px;
    margin-left: 163px;
    border-radius: 8px;
    padding: 5px;
 }

 .Checkbox {
    transform: scale(4,4);
 }

 .AppRules {
   height: 440px;
   width: 310px;
   background-color: #A7B8C7;
   border-radius: 20px;
   margin: auto;  
   display: flex;
   flex: 1 1 auto;
   flex-direction: column;
   align-self: stretch;
   margin-top: 15px;
 }

 .ListItem {
   background-color: #e9e9ed;
   width: "80%";
   align-content: center;
 }
